/* RESPONSIVE STYLING */
@media only screen and (max-width: 768px) {
  .content {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    max-width: 100%;
  }
  .about-content {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .big-title {
    font-size: 3rem;
  }
  .text {
    font-size: .8rem;
  }
  .title {
    font-size: 1.2rem;
  }
  .content {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    min-width: 100%;
  }
  .about-content {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
}

/* PARALLAX STYLING */
.kneel {
  position: absolute;
  width: 300px;
  bottom: -100px;
  left: 40px;
  z-index: 20;
}

.mountain1 {
  position: absolute;
  bottom: -100px;
  width: 1900px;
  right: 0;
  z-index: 19;
}

.mountain2 {
  position: absolute;
  width: 1500px;
  bottom: -100px;
  left: 0;
  z-index: 18;
}

.mountain3 {
  position: absolute;
  width: 1300px;
  bottom: 150px;
  right: 0;
  z-index: 17;
}

.sky {
  position: absolute;
  width: 2500px;
  bottom: 250px;
  right: 0;
}

/* GLOBAL STYLES */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 70rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  margin: 20px 5px 10px 5px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background: transparent;
  padding: 6px 12px;
  font-size: 1.1rem;
  border-radius: 3px;
  border: 1px solid #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.btn:hover {
  background: #fff;
}

.btn:hover a {
  color: #444;
}

.btn a {
  text-decoration: none;
  color: #fff;
}

.text {
  font-size: 1.1rem;
  letter-spacing: 1.2px;
}

/* HEADER STYLES */
header {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  /* HEADER OVERLAY */
}

header::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.05);
  z-index: 25;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  z-index: 30;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.05)), to(transparent));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), transparent);
}

nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  color: #fff;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

/* HERO TEXT */
.big-title {
  position: absolute;
  z-index: 30;
  line-height: 4rem;
  top: calc(50% - 2rem);
  width: 100%;
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  color: #fff;
}

section {
  width: 100%;
  background-color: #151515;
  position: relative;
}

section .container {
  padding: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

section .container > * {
  margin: 2rem;
}

.content {
  color: #fff;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.imgContainer {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.title {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding-bottom: .5rem;
  position: relative;
  text-align: center;
}

.shadow {
  position: absolute;
  bottom: 100%;
  height: 300px;
  width: 100%;
  left: 0;
  z-index: 20;
  background: -webkit-gradient(linear, left bottom, left top, from(#151515), to(transparent));
  background: linear-gradient(to top, #151515, transparent);
}

.opacity {
  opacity: 0;
}

/* ABOUT SECTION */
.about-column {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.tool-set ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  background-color: transparent;
  color: #fff;
  line-height: 75px;
  text-align: center;
  font-size: 64px;
  list-style-type: none;
  margin: 20px;
}

.tool-set ul .fa-html5 {
  /*color: linear-gradient(to right, #E44D26 50%, #F16529 50%);*/
  background: -webkit-linear-gradient(left, #E44D26 50%, #F16529 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tool-set ul .fa-css3-alt {
  /*color: linear-gradient(to right, #E44D26 50%, #F16529 50%);*/
  background: -webkit-linear-gradient(left, #4169E1 50%, #1E90FF 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tool-set ul .fa-js-square {
  color: #F0DB4F;
}

.tool-set ul .fa-sass {
  color: #c69;
}

.tool-set ul .fa-bootstrap {
  color: #6f42c1;
}

/* PROJECTS */
.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.column {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
}

/* CARD STYLES */
.card-list {
  padding: 3rem;
  margin: 10px;
}

.card {
  width: 100rem;
  min-width: 250px;
  padding: 0;
  background: #bbb;
}

.card img {
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0;
}

.card .card-body {
  height: 25vh;
  color: white;
  background: #383838;
  text-align: center;
}

.card .card-body .card-title {
  font-size: 20px;
  padding: 10px;
}

.card .card-body .card-text {
  font-size: 16px;
  margin: 10px;
  overflow: hidden;
}

.card .card-body .btn {
  top: 50%;
  left: 50%;
}

/* WORK EXPERIENCE */
/*
.experience-container {
    width: 1200px;
    height: auto;
    margin: 0;
    padding: 0;
}

.all-jobs {
    width: 900px;
    height: auto;
    background: rgb(56, 56, 56);
    padding: 50px;
}

.job {
    list-style: none;
    align-content: left;
}

.job-desc {
    overflow: auto;

    li {
        list-style: initial;
    }
}
*/
/* CONTACT FORM */
#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 80vh;
  width: 100%;
}

form {
  width: 100%;
  height: auto;
}

form input[type='text'],
form input[type='email'] {
  line-height: 16px;
  width: 100%;
  height: 30px;
  margin: 10px;
  padding: 5px;
  background: transparent;
  border: 1px #fff solid;
  color: #fff;
}

form textarea {
  width: 100%;
  height: auto;
  margin: 10px;
  padding: 5px;
  background: transparent;
  border: 1px #fff solid;
  color: #fff;
}

form .btn {
  color: #fff;
  padding: 10px;
}

form .btn:hover {
  color: #000;
}
/*# sourceMappingURL=style.css.map */