@import 'mobile';
@import 'parallax';

/* GLOBAL STYLES */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 70rem;
    padding: 0 2rem;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    margin: 20px 5px 10px 5px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background: transparent;
    padding: 6px 12px;
    font-size: 1.1rem;
    border-radius: 3px;
    border: 1px solid #fff;
    user-select: none;

    &:hover {
        background: #fff;
        
        a {
            color: #444;
        }
    }

    a {
        text-decoration: none;
        color: #fff;
    }

}

.text {
    font-size: 1.1rem;
    letter-spacing: 1.2px;
}

/* HEADER STYLES */
header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

    /* HEADER OVERLAY */
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.05);
        z-index: 25;
    }
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    z-index: 30;
    background: linear-gradient(to bottom, rgba( 0, 0, 0, 0.05), transparent);

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {
    color: #fff;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}

/* HERO TEXT */
.big-title {
    position: absolute;
    z-index: 30;
    line-height: 4rem;
    top: calc(50% - 2rem);
    width: 100%;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    color: #fff;
}

section {
    width: 100%;
    background-color: #151515;
    position: relative;

    .container {
        padding: 3rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }
}

section .container > * {
    margin: 2rem;
}

.content {
    color: #fff;
    transform: translateY(-50px);
}

.imgContainer {
    transform: translateY(50px);
}

.title {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    position: relative;
    text-align: center;
}

.shadow {
    position: absolute;
    bottom: 100%;
    height: 300px;
    width: 100%;
    left: 0;
    z-index: 20;
    background: linear-gradient(to top, #151515, transparent);
}

.opacity {
    opacity: 0;
}

/* ABOUT SECTION */
.about-column {
    flex-basis: 50%;
}

.tool-set {
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        background-color: transparent;
        color: #fff;
        line-height: 75px;
        text-align: center;
        font-size: 64px;
        list-style-type: none;
        margin: 20px;
        .fa-html5 {
            /*color: linear-gradient(to right, #E44D26 50%, #F16529 50%);*/
            background: -webkit-linear-gradient(left,#E44D26 50%, #F16529 50%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .fa-css3-alt {
            /*color: linear-gradient(to right, #E44D26 50%, #F16529 50%);*/
            background: -webkit-linear-gradient(left,#4169E1
            50%, #1E90FF 50%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .fa-js-square {
            color: #F0DB4F;
        }
        .fa-sass {
            color: #c69;
        }
        .fa-bootstrap {
            color: #6f42c1;
        }
    }
}

/* PROJECTS */
.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.column {
    flex: 25%;
}

/* CARD STYLES */
.card-list {
    padding: 3rem;
    margin: 10px;
}

.card {
    width: 100rem;
    min-width: 250px;
    padding: 0;
    background: #bbb;

    img {
        height: 300px;
        width: 100%;
        object-fit: cover;
        padding: 0;
    }

    .card-body {
        height: 25vh;
        color: rgb(255, 255, 255);
        background: rgb(56, 56, 56);
        text-align: center;
        
        .card-title {
            font-size: 20px;
            padding: 10px;
        }

        .card-text {
            font-size: 16px;
            margin: 10px;
            overflow: hidden;
        }

        .btn {
            top: 50%;
            left: 50%;
        }
    }
}

/* WORK EXPERIENCE */
/*
.experience-container {
    width: 1200px;
    height: auto;
    margin: 0;
    padding: 0;
}

.all-jobs {
    width: 900px;
    height: auto;
    background: rgb(56, 56, 56);
    padding: 50px;
}

.job {
    list-style: none;
    align-content: left;
}

.job-desc {
    overflow: auto;

    li {
        list-style: initial;
    }
}
*/
/* CONTACT FORM */
#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
    width: 100%;
}

form {
    width: 100%;
    height: auto;

    input[type='text'],
    input[type='email'] {
        line-height: 16px;
        width: 100%;
        height: 30px;
        margin: 10px;
        padding: 5px;
        background: transparent;
        border: 1px #fff solid;
        color: #fff;
    }

    textarea {
        width: 100%;
        height: auto;
        margin: 10px;
        padding: 5px;
        background: transparent;
        border: 1px #fff solid;
        color: #fff;
    }
    
    .btn {
        color: #fff;
        padding: 10px;

        &:hover {
            color: #000;
        }
    }
}